
html {
	--black:#000000;
	--white: #FFFFFF;
	--highlight: #f59b0f;
	--color: #38e2cc;
	--blue: #a4d6e1;
	--pink: #ff999a;
	--orange: #ffcc99;
	--yellow: #ffee99;
	--seaBlue:  #036896;
}




/* USAGE */

.test {
	border: 5px solid var(--highlight); 
}

.test {
	border: 3px solid var(--color);
}
