
html {
	--black:#000000;
	--white: #FFFFFF;
	--highlight: #f59b0f;
	--color: #38e2cc;
	--blue: #a4d6e1;
	--pink: #ff999a;
	--orange: #ffcc99;
	--yellow: #ffee99;
	--seaBlue:  #036896;
	--slate: #3F4E5D;
	--green: #8C8;
	--seaMint: #c4d5c3;
	--background:#e0decf;
	--background-dark:#c9c8ba;
	--background-light:#e9e8dd;
}




/* USAGE */

.test {
	border: 5px solid var(--highlight); 
}

.test * {
	border: 3px solid red;
}
