* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main {
	flex-grow: 1;
	flex-direction: column;
	gap: 1rem;
	/* push the footer down */
}

inner-column {
	/* Explicitly definining the container between small and large desktop  */
	display: block;
	max-width: 1512px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 21.197vw;
	padding-right: 21.197vw;
}

@media(min-width:1512px) {

	/* Explicitly definining the container at max-width  */
	inner-column {
		padding-left: 320.5px;
		padding-right: 320.5px;
	}
}

@media(max-width:1024px) {

	/* Explicitly definining the container below small desktop  */
	inner-column {
		padding: 10px 10px;
	}
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

figure {
	display: block;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}


svg {
	display: block;
	width: 100%;
	/* may need height: 100%; Check all browsers */
}