 /* importing fonts with Adobe Fonts */
 @import url("https: //use.typekit.net/nrd6yoq.css");

 .major-voice {
 	font-family: "Times New Roman", Times, serif;
 	font-size: 40px;
 }

 .base-voice {
 	font-family: "Times New Roman", Times, serif;
 	font-size: 22px;
 }

 @media(min-width:1512px) {
 	.base-voice {
 		font-size: 24px;
 	}
 }

 .minor-voice {
 	font-family: roboto, sans-serif;
 	font-size: 16px;
 	font-weight: 300;
 }