/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #9ec9eb;
	--highlight: #aadee9;
	--background: rgba(255,255,226,1);
	--background-dark: rgba(255,255,226,.4) ;
}
