
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css'; 
@import 'structure.css';
@import 'typography.css';










/* ACTUAL SITE STYLES */
body * {
	border: 1px solid red;
}
html {
	background-color: var(--white);
}

p {
	max-width: 70ch;
	padding: 1rem;
}




