* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow:  1; /* push the footer down */
}

inner-column {
	display: block;
	max-width: 1100px; /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 30px 14px; /* a default */
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

picture {
	display: block;
}

img {  
	display: block;
	width: 100%;
	height: auto;
}


svg {
  display: block;
  width: 100%;
  /* may need height: 100%; Check all browsers */
}

