@import "css/meyer-reset.css";
@import "css/setup.css";
@import "css/settings.css";
@import "css/typography.css";
@import "fonts/red-hat/stylesheet.css";



/*MODULES*/
@import "css/modules-css/header.css";
@import "css/modules-css/footer.css";
@import "css/modules-css/introduction.css";
@import "css/modules-css/blog-card.css";
@import "css/modules-css/project-card.css";
@import "css/modules-css/case-study.css";
@import "css/modules-css/php-garden-intro.css";
@import "css/modules-css/section-heading.css";
@import "css/modules-css/style-guide.css";
@import "css/modules-css/base-blog-card.css";
@import "css/modules-css/article.css";
@import "css/modules-css/goals-module.css";
@import "css/modules-css/graphic-diptych.css";
@import "css/modules-css/bridge-post.css";
@import "css/lion-svg.css";

html {
	scroll-behavior: smooth;

}

body {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--white);
	
}



@media(max-width: 499px) {
	.menu-open {
		overflow: hidden;
}

}
main {
	flex-grow:  1;
}


/*TROUBLE SHOOTING*/

space {
	display: block;
	height: 25px;
	background-color: var(--black);
}

thumbnail-link a {
	font-weight: 700;
}

a {
	text-decoration: underline;
}
.writing inner-column {
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.projects inner-column {
	display: flex;
	flex-direction: column;
	gap: 80px;
}



under-construction h1 {
	line-height:1.5;
}








