@import "css/meyer-reset.css";
@import "css/setup.css";
@import "css/settings.css";
@import "css/typography.css";
@tailwind base;

@tailwind components;

@tailwind utilities;




/*MODULES*/
@import "css/modules-css/header.css";
@import "css/modules-css/footer.css";
@import "css/modules-css/blog-gallery.css";
@import "css/modules-css/blog-intro.css";
@import "css/modules-css/project-gallery.css";
@import "css/modules-css/projects-intro.css";
@import "css/modules-css/case-study.css";
@import "css/modules-css/gardens-gallery.css";
@import "css/modules-css/gardens-intro.css";
@import "css/modules-css/section-heading.css";
@import "css/modules-css/style-guide.css";
@import "css/modules-css/article.css";
@import "css/modules-css/list-module.css";
@import "css/modules-css/graphic-diptych.css";
@import "css/modules-css/bridge-post.css";
@import "css/modules-css/layout-01.css";
@import "css/modules-css/layout-02.css";
@import "css/modules-css/layout-03.css";
@import "css/modules-css/layout-04.css";
@import "css/modules-css/layout-05.css";
@import "css/modules-css/form.css";
@import "css/modules-css/nav-list.css";
@import "css/lion-svg.css";
@import "css/modules-css/new-article.css";

html {
	scroll-behavior: smooth;

}

body {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--white);
	
}


/*HOME AND GENERAL HEADER*/
@media(max-width: 499px) {
	
	.menu-open {
		overflow: hidden;
	}

}

main {
		flex-grow:  1;
	}


/*TROUBLE SHOOTING*/

space {
	display: block;
	height: 12px;
	background-color: var(--black);
}


section {
	min-height: 30vh;
}

section div {
	border-radius: 10px;
}


under-construction h1 {
	line-height:1.5;
}


h1 {
	@apply text-blue-500;
}





