.blog-card {
	border: .5rem solid black;
	width: fit-content;
	padding: 1rem;
	border-radius: 25% 10%;
}
.blog-card h1 {
	font-family: "halyard-display", sans-serif;
	font-size: 1.5rem;
}
.blog-card h2 {
	font-family: "halyard-display", sans-serif;
	font-size: 1rem;
}