blog-gallery {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
@media(min-width: 1050px) {
	card-gallery {
		flex-direction: row;
	}
}

blog-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

blog-card h3 {
	background-color: var(--black);
	color: var(--white);
	width: fit-content;
	padding: 20px;
}

blog-card p {
	max-width: 32ch;
}