data-considerations inner-column {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

data-considerations inner-column image-pillars {
	flex-direction: column;
}
case-study picture {
	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
	box-shadow: 5px 5px 15px 5px #000000;
}




