graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media(min-width: 650px) {
	graphic-diptych {
		flex-direction: row;
		justify-content: space-between;
	}
}

graphic-diptych .graphic-image {
	max-width: 490px;
	max-height: 570px;
}