.hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button-group {
    display: flex;
    gap: 16px;
}

.button {
    padding: 12px 6px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--accent);
}

.button:hover {
    color: var(--accent-dark);
    background-color: var(--accent-mid);
}