garden-card {
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

garden-card p {
	max-width: 32ch;
}

garden-card p a {
	display: inline;
	font-weight: 700;
}

