.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.articles-grid a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-grid .border {
    padding-left: 10%;
    padding-right: 10%;
    border-top: 2px solid black;
    padding-bottom: 20px;

}