.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flag-ship-project,
.articles {
    flex: auto;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media(min-width:768px) {
    .container {
        flex-direction: row;
    }
}

@media(min-width:768px) {

    .flag-ship-project,
    .articles {
        max-width: 50%;
    }

}

@media(max-width:420px) {
    .articles-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.flag-ship-project a {
    border: 1px solid var(--outlines);
    border-radius: 15px;
}

.articles-grid a {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid var(--outlines);
    border-radius: 15px;
}

.articles-grid a:hover {
    background-color: var(--accent-light);
    border-color: var(--accent);
}

.articles-grid a:hover .border {
    border-color: var(--accent);
}

.articles-grid a:hover h2 {
    color: var(--accent);
}

.articles-grid .border {
    padding-left: 10%;
    padding-right: 10%;
    border-top: 2px solid black;
    padding-bottom: 20px;

}