.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media(min-width:768px) {
    .container {
        flex-direction: row;
    }
}

@media(min-width:768px) {

    .flag-ship-project,
    .articles {
        max-width: 50%;
    }

}

@media(max-width:420px) {
    .articles-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


.articles-grid a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-grid .border {
    padding-left: 10%;
    padding-right: 10%;
    border-top: 2px solid black;
    padding-bottom: 20px;

}