.site-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.site-icon {
  width: 50px;
  display: none;
}

@media(min-width:640px) {
  .site-icon {
    display: block;
  }

  .site-header {
    justify-content: space-between;
  }
}

.site-nav {
  display: flex;
  flex-direction: row;
}

.site-nav a+a:before {
  content: "/";
  padding: 0 5px;
}

.site-nav span:hover {
  border-bottom: 2px solid var(--accent);
  cursor: pointer;
}

@media(min-width:640px) {
  .site-header inner-column {
    display: flex;
    flex-direction: row;

  }
}