.site-icon {
  width: 100px;
  display: none;
}

.site-nav {
  display: flex;
  flex-direction: row;
  padding-bottom: .3rem;
}

.site-nav a+a:before {
  content: "/";
  padding: 0 5px;
}

.site-nav span:hover {
  border-bottom: 2px solid var(--accent);
  cursor: pointer;
}

@media(min-width:640px) {
  .site-header inner-column {
    display: flex;
    flex-direction: row;

  }
}