/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #9ec9eb;
	--highlight: #aadee9;
}
/* you can make more! */



/* USAGE */

.test {
	border: 3px solid red;
}

.test * {
	border: 2px solid darkred;
}
