
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';








/* ACTUAL SITE STYLES */
html {
	background-color: var(--white);
}




.pokemon-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  	gap: 1rem;
	padding: 100px;
}

.pokemon {
	border:  1px solid red;
	padding: 20px;
}

















