@import "css/meyer-reset.css";
@import "css/setup.css";
@import "css/typography.css";
@import "fonts/red-hat/stylesheet.css";



/*MODULES*/
@import "css/modules-css/header.css";
@import "css/modules-css/footer.css";
@import "css/modules-css/introduction.css";
@import "css/modules-css/about.css";
@import "css/modules-css/blog-card.css";
@import "css/modules-css/blog-intro.css";
@import "css/modules-css/projects-intro.css";
@import "css/modules-css/project-card.css";
@import "css/modules-css/playlist-intro.css";
@import "css/modules-css/case-study.css";

html {
	scroll-behavior: smooth;
}

body {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
}
.welcome {
	background-image: url('images/texture-22.jpeg');
	background-size: cover;
}
.welcome inner-column {
/*	display: flex;
	flex-direction: row;*/
}


@media(max-width: 499px) {
	.menu-open {
		overflow: hidden;
}

}
main {
	flex-grow:  1;
}


/*TROUBLE SHOOTING*/

div {
	height: 25px;
	background-color: black;
}

thumbnail-link a {
	font-weight: 700;
}

a {
	text-decoration: underline;
}

a.intro-voice {
	font-weight: 700;
}














