@import "css/meyer-reset.css";
@import "css/setup.css";
@import "css/typography.css";
@import "fonts/red-hat/stylesheet.css";



/*MODULES*/
@import "css/modules-css/header.css";
@import "css/modules-css/footer.css";
@import "css/modules-css/introduction.css";
@import "css/modules-css/about.css";
@import "css/modules-css/blog-card.css";
@import "css/modules-css/blog-intro.css";
@import "css/modules-css/projects-intro.css";
@import "css/modules-css/playlist-intro.css";


body {
	/*overflow: hidden;*/
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.menu-open {
	overflow: hidden;
}
main {
	flex-grow:  1;
}


/*TROUBLE SHOOTING*/
body * {
	/*border:  1px solid red;*/

}

div {
	height: 25px;
	background-color: black;
}
















