.site-header {
	border:  1px solid red;
	height: 10vh;
	background-color: var(--black);
}
.menu {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-start;
}
.menu a {
	color: var(--white);
}