@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap');

.attention-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.attention-sub-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.base-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.intro-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.important-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 700;
}