	</main>


		<footer class='site-footer'>
			<inner-column>
				<h1>This is the footer</h1>
			</inner-column>
		</footer>
        {{function('wp_footer')}}
		{# <?php wp_footer(); ?> #}

	</body>
</html>