@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap');

.title-font {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
	padding: 1rem;
	text-align: center;
}

.section-heading-font {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 30px;
	font-weight: 300;
}

.link-font {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
}

.card-title-font {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	font-weight: 700;
}


.paragraph-font {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}


.important-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
}

h1.important-voice {
	font-size: 22px;
}










