svg {
  display: block;
  max-width: 200px;
}

@keyframes wag {
  50% {
    transform: rotate(-10deg);
  }
}

@keyframes blink2 {
  0%, 48% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0.01);
  }
  
  52%, 62% {
    transform: scaleX(1);
  }
  
  64% {
    transform: scaleX(0.01);
  }
  
  68%, 100% {
    transform: scaleX(1);
  }
}

@keyframes blink {
    0%, 48% {
    ry: 73.793;
  }

  50% {
    ry: 20;
  }
  
  52%, 62% {
    ry: 73.793;
  }
  
  64% {
    ry: 20;
  }
  
  68%, 100% {
    ry: 73.793;
  }
}


#fur {
  transform-origin: center center;
  animation: 3s wag infinite ease-in-out;
}

#eyes ellipse {
  transform-origin: center center;
  animation: 4s blink2 infinite ;
}
