@import'meyer-reset.css';
@import'setup.css';

body {
	background-color: lightyellow;
}

body * {
	padding: 10px;
}

nav {
	display: flex;
}
nav a {
	text-decoration: underline;
	padding: 10px;
}

h1 {
	font-size: 35px;
}

book-card {
	display: block;
}

book-card .book-cover {
	max-width: 100px;
}