/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #00596e;
	--highlight: #aadee9;
}
/* you can make more! */



/* USAGE */

.test {
	border: 1px solid var(--highlight); /* used as variable */
}

.test {
	border: 1px solid var(--color);
}
