
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

/*@import 'developer-styles.css'; */
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/layout-01.css';
@import 'modules/layout-02.css';
@import 'modules/layout-03.css';
@import 'modules/layout-04.css';
@import 'modules/layout-05.css';

@import 'modules/site-map.css';
/* should everything/nothing be in it's own file? */


/* ACTUAL SITE STYLES */
html {
	background-color: var(--white);
}




/*
	This the area where you work out your styles 
	If it makes sense, you can break these out into their own files.
*/


/* SITE SECTIONS */
section {
	min-height: 25vh;
}
section div {
	border-radius: 10px;
}
section div p {
	padding: 40px;
}
.site-header {
	/*background-color: #9ec9eb;*/
	position: sticky;
	top: 0;
	/*box-shadow: 0 2px 5px 0px rgba(0,0,0,.4);*/
}
.site-header inner-column {
	padding: 14px;
}







/* OK! SITE STYLES! */
.site-header {
  background-color: var(--color);
  color: var(--white);
}









.site-footer {
	background-color: var(--color);
	color: var(--white);
}

.site-footer .logo {
	max-width:  60px;
}

