

	form * {
		padding-left: 35px;
	}
	form {
	position: relative;
	border: 4px solid black;
	background-color: #F8F4E4;
	width: fit-content;
	

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	form:after {
		border-right: 5px solid #FFA580;
	}

	form p {
		color: #978374;
		padding-top: 20px;
	}
	
	div.field {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	}
