/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #9ec9eb;
	--highlight: #aadee9;
	--yellow: #ffee99;
	--orange: #ffcc99;
}
/* you can make more! */



/* USAGE */

.test {
	border: 1px solid var(--yellow); /* used as variable */
}

.test * {
	border: 2px solid var(--orange);
}

