
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

/*@import 'developer-styles.css'; */
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';

/*FORM STYLE*/
@import 'form-style.css';

@import 'modules/masthead.css';

/* ACTUAL SITE STYLES */
html {
	background-color: var(--white);
}




/*
	This the area where you work out your styles 
	If it makes sense, you can break these out into their own files.
*/


/* SITE SECTIONS */
.site-header {

	position: sticky;
	top: 0;
	z-index: 5;

	background-color: var(--white);
  color: var(--black);
}

.site-header inner-column {
	padding: 14px;
}


/*nav list styles*/
main {
	padding-top: 20px;
}
nav {
	padding: 10px;
	line-height: 1.5;
}

@media(min-width: 600px) {
	main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	}
}




.site-footer {
	background-color: var(--white);
	color: var(--black);
}

.site-footer .logo {
	max-width:  60px;
}

