@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap');

.attention-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 29px;
	font-weight: 700;
}

.attention-sub-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

@media(min-width: 600px) {
	introduction h1.attention-voice {
		font-size: 36px;
	}
	introduction h2.attention-sub-voice {
		font-size: 24px;
	}
}

@media(min-width: 1000px) {
	introduction h1.attention-voice {
		font-size: 48px;
	}

	introduction h2.attention-sub-voice {
		font-size: 30px;
	}
}

.intro-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}


h1.important-voice {
	font-size: 22px;
	
}

.important-voice {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
}