blog-intro {
	display: block;
	margin-bottom: 1.5rem;
}
blog-intro h1 {
	padding-top: 25px;
	padding-bottom: 25px;
}
blog-intro p.intro-voice {
	padding-bottom: 50px;
}

blog-grid {
	display: block;
}

blog-intro blog-card:nth-last-of-type(1) {
	padding-bottom: 20px;
}
blog-intro p {
	line-height: 1.5rem;
}
