.case-study inner-column {
	display: flex;
	flex-direction: column;
	gap: 30px;
}


case-study {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

case-study heading {
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}


case-study article {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

case-study article p {
	min-width: 32ch;
}

.screenshot {
	min-width: 25vh;
	max-height: 300px;
}


@media(min-width: 742px) {
	case-study article {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}
