playlist-intro {
	display: block;
}

playlist {
	display: block;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
playlist-intro h1 {
	
	margin-bottom: 1.5rem;
}

playlist-intro p {
	line-height: 1.5rem;
}

playlist .thumbnail {
	max-width: 100px;

}