playlist-intro {
	display: block;
}
playlist-heading {
	display: block;
}

playlist {
	display: block;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

playlist-intro h1 {
	padding-top: 25px;
	padding-bottom: 25px;
}

playlist-intro p {
	line-height: 1.5rem;
	padding-bottom: 25px;
}

playlist .thumbnail {
	max-width: 100px;
	border: 1px solid black;
	border-radius: 50%; 
	overflow: hidden;
}

@media(min-width: 500px) {
	playlist-intro {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	playlist-heading {
		display: flex;
		flex-direction: column;
	}
	playlist-heading p {
		max-width: 32ch;
	}
}