playlist-intro {
	display: block;
}

playlist {
	display: block;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}


playlist-intro p {
	line-height: 1.5rem;
}

playlist .thumbnail {
	max-width: 100px;
	border: 1px solid black;
	border-radius: 50%; 
	overflow: hidden;
}