projects-intro {
	display: block;
}
project-heading {
	display: block;
}

projects-grid {
	display: block;
}

projects-intro h1 {
	
	padding-top: 25px;
	padding-bottom: 25px;
}

projects-intro p.intro-voice {
	line-height: 1.5rem;
	padding-bottom: 50px;
}

@media(min-width: 500px) {
	project-grid {
		 display: grid;
  		 grid-template-columns: repeat(2, 1fr);
  		 grid-gap: 1em;
	}
}

@media(min-width: 1000px) {
	projects-intro {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	project-heading {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	project-heading h1 {
		text-align: center;
	}

	project-heading p {
		max-width: 70ch;
	}

	project-grid {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
