projects-intro {
	display: block;
}

projects-grid {
	display: block;
}

projects-intro h1 {
	
	margin-bottom: 1.5rem;
}

projects-intro p {
	line-height: 1.5rem;
}

project-card {
	padding-top: 25px;
}

