projects-intro {
	display: block;
	display: grid;
	gap: 50px;
}

project-heading {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

project-grid {
	display: block;
	display: flex;
   flex-direction: column;
   gap: 20px;
}


projects-intro p.intro-voice {
	line-height: 1.5rem;
}

@media(min-width: 500px) {
	project-grid {
		
	}
}

@media(min-width: 1000px) {
	projects-intro {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	project-heading {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	project-heading h1 {
		text-align: center;
	}

	project-heading p {
		max-width: 70ch;
	}

	project-grid {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
