@import'meyer-reset.css';
@import'setup.css';
@import'lion-svg.css';

body {
	background-color: lightyellow;
}

body * {
	padding: 10px;
}



/*nav settings*/
header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

header nav a {
	text-decoration: underline;
	padding: 10px;
}

/*home settings*/
.welcome {
	display: flex;
	flex-direction: row;
	place-items: center;
	min-height: 70vh;
}

.test {
	border: 3px solid green;
}

.test * {
	border: 1px solid green;
}

.welcome h1 {
	font-size: 36px;
}
.show-code {
	display: block;
	font-family: monospace;
	padding: 10px;
	background-color: #222;
	color: lime;
}

@media(min-width: 600px) {
	.welcome h1 {
	font-size: 47px;
	}
}

@media(min-width: 1000px) {
	.welcome h1 {
	font-size: 60px;
	}
}

/*Genre List*/
.genre-list li a {
	padding: 40px;
}

/*book card*/
.genre-list ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}
book-card {
	display: block;
	display: flex;
	flex-direction: column;
}

@media(min-width: 500px) {
	book-card {
	flex-direction: row;
	align-items: center;
	}
}

book-card .book-info h2 {
	font-size: 30px;
	font-style: italic;
	font-weight: 400;
}

book-card .book-info address {
	font-size: 18px;
	font-weight: 700;
}

book-card .book-info p {
	font-size: 18px;
	line-height: 1.5;
	max-width: 60ch;
}

book-card .book-cover {
	max-width: 200px;
}

book-card nav {
	display: flex;
	flex-direction: row;
}

book-card a {
	text-decoration: underline;
}

form {
	min-width: 400px;
}
form textarea {
	display: block;
	min-width: 300px;
	max-width: 100%;
	min-height: 150px;
	border: 1px solid red;
}

div :is(label,input) {
	display: block;
}
button {
	display: block;
}